* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

body {
    font-family: Inter;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: $pure-black;
    background-color: $pure-white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;